@model MyProfileViewModel
@*<h1>@Model.FirstName</h1>*@


@if (Model.User.FoodTruck == null)
{
    var photoPath = "~/images/" + (Model.User.ProfileImage ?? "defaultProfileImage.png");
    <div class="row mt-5 ">
        <div class="col d-flex justify-content-end">
            <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                <i class="fa fa-cog fa-2x"></i>
            </a>
        </div>
    </div>
    <div class="row ">
        <div class="col">
            <img src="@photoPath" class="foodTruckProfile img-fluid" alt="ProfileImage" asp-append-version="true">
            <div class="row">
                <div class="col">
                    <a class="btn btn-success btn-block text-white" asp-area="" asp-controller="Foodtrucks" asp-action="Create">Create Your Food Truck!</a>
                </div>
            </div>
        </div>
        <div class="col">
            <h1>@Model.User.FirstName @Model.User.LastName</h1>
            <div class="row">
                <div class="col">
                    <h4>@Model.User.City, @Model.User.Province</h4>
                </div>
            </div>
        </div>
        <div class="col">
            <h1>Favourite Food</h1>
            <div class="row">
                <div class="col">
                    @if (Model.User.FoodCategory != null)
                    {
                        <h4>@Model.User.FoodCategory.GetDisplayName()</h4>
                    }
                    else
                    {
                        <h4>This user has not set a favourite food.</h4>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-danger btn-block btn-lg text-white"><h4>Logout</h4></button>
            </form>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col text-center"><h1>MyFavourite Trucks</h1></div>
    </div>
    <hr />
    <div class="card-deck">
        @foreach (var truck in Model.FavouriteTrucks)
        {
            var truckProfileImage = "~/images/" + (truck.ProfileImage ?? "defaultProfileImage.png");
            <div class="card m-3" style="min-width: 18rem; max-width:30.5%">
                @*        <a asp-page="/FoodTrucks/FoodTruckProfile" asp-route-id="@truck.FoodTruckId">*@

                <a asp-action="Profile" asp-controller="FoodTrucks" asp-route-id="@truck.FoodTruckId">
                    <img class="w-100 img-thumbnail imageThumbnail" src="@truckProfileImage" alt="Card image cap" asp-append-version="true">
                </a>
                <div class="card-body">
                    <h3>@truck.Name</h3>
                </div>
            </div>
        }

    </div>


    <div class="col-lg-12 ">

        <div class="row mt-5">
            <div class="col-lg-12 text-center">
                <h1>My Reviews</h1>
            </div>
            <div class="col p-0 ">
                <ul id="trucksReviews" class="list-group">
                    @foreach (var review in Model.UserReviews.Reverse())
                    {
                        @await Component.InvokeAsync("ReviewItem", new { id = review.FoodTruckId, title = review.Title, body = review.Body, rating = review.Rating, type = 2 })
                    }
                </ul>
            </div>
        </div>
    </div>
}
//If the user is a Food Truck
else
{
    var photoPath = "~/images/" + (Model.User.FoodTruck.ProfileImage ?? "defaultProfileImage.png");
    var workingState = Model.User.FoodTruck.State;
    <div class="row mt-5">
        <div class="col">
            @if (Model.User.FoodTruck.State == 1)
            {
                <div id="stateInform" class="h1 text-success d-flex justify-content-center">Open For Business!</div>
            }
            else
            {
                <div id="stateInform" class="h1 text-danger d-flex justify-content-center">Food Truck is Currently Closed</div>
            }
        </div>
    </div>
    <div class="row ">
        <div class="col d-flex justify-content-end">
            <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                <i class="fa fa-cog fa-2x"></i>
            </a>
        </div>
    </div>
    <div class="row ">
        <div class="col-7">

            @section Scripts{
                <script>
                    var workingState = 0;

                    var truckLat = 0;
                    var truckLong = 0;

                    function getLocation() {
                        var promise = new Promise(function (resolve, reject) {
                            if (navigator.geolocation) {
                                navigator.geolocation.getCurrentPosition(
                                    function (position) {
                                        truckLat = position.coords.latitude;
                                        truckLong = position.coords.longitude;
                                        resolve("Success")
                                    }
                                );
                            } else {
                                reject("Error");
                            }
                        });

                        return promise;
                    }
                    function locationHandler(position) {
                        truckLat = position.coords.latitude;
                        truckLong = position.coords.longitude;
                    }

                    function OpenCloseFoodTruckAjax(truckId) {
                        var text = $("#alertButton").text();
                        console.log(text);
                        //This means the truck is closed
                        if (text == "Open Truck") {
                            console.log(" Before: Matched the button text! Open Truck")
                            var locationPromise = getLocation();
                            locationPromise.then(function (response) {
                                console.log(response);
                                console.log(truckLat);
                                console.log(typeof truckLat.toString());
                                console.log(truckLong);
                                console.log(typeof truckLong.toString());

                                OpenCloseTruckAjax(truckId, truckLat, truckLong);
                            }, function (error) {
                                console.log("Failed!", error);
                            })

                        } else {
                            var text2 = $("#alertButton").text();

                            if (text2 == "Open Truck") {
                                console.log("Before: Matched the button text! Close Truck")
                            }
                            OpenCloseTruckAjax(truckId, truckLat, truckLong)
                            console.log("truck Lat : " + truckLat);
                            console.log("truck Long : " + truckLong);
                            console.log("")
                        }
                    }

                    function OpenCloseTruckAjax(truckId, truckLat, truckLong) {
                        $.ajax({
                            type: "POST",
                            url: "/FoodTrucks/OpenCloseFoodTruckAjax",
                            data: {
                                foodTruckId: truckId,
                                foodTruckLat: truckLat,
                                foodTruckLong: truckLong
                            },
                            dataType: "json",
                            success: function (result) {
                                if (result == 1) {
                                    $("#alertButton").removeClass("btn-success").addClass("btn-warning");
                                    $("#alertButton").html("Close Truck");
                                    $("#stateInform").removeClass("text-danger").addClass("text-success");
                                    $("#stateInform").html("Open For Business!");

                                }
                                if (result == 0) {
                                    $("#alertButton").removeClass("btn-warning").addClass("btn-success");
                                    $("#alertButton").html("Open Truck");
                                    $("#stateInform").removeClass("text-success").addClass("text-danger");
                                    $("#stateInform").html("Food Truck is Currently Closed");
                                }
                            },
                            failure: function () {
                                alert("A failure occured");
                            },
                            error: function (response) {
                                alert("An error occuring")
                            }
                        });
                    }
                </script>
            }
            <div class="row">
                <div class="col">
                    <h2>Truck Name</h2>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h1>@Model.User.FoodTruck.Name</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h2>Truck Bio</h2>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5>@Model.User.FoodTruck.Bio</h5>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h2>Category</h2>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5>@Model.User.FoodTruck.FoodCat</h5>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h2>Social Media Links</h2>
                </div>
            </div>
            <div class="row d-inline-flex align-items-center">
                <div class="col-1">
                    <i class="fa fa-instagram fa-2x d-flex d-inline-flex" aria-hidden="true"></i>
                </div>
                @{
                    var instagramLink = "https://www.instagram.com/" + @Model.User.FoodTruck.InstagramLink;
                    var facebookLink = "https://www.facebook.com/" + @Model.User.FoodTruck.FacebookLink;
                }
                <div class="col">
                    <h5>@instagramLink</h5>
                </div>
            </div>
            <div class="row d-inline-flex align-items-center">
                <div class="col-1">
                    <i class="fa fa-facebook-square fa-2x d-flex d-inline-flex" aria-hidden="true"></i>
                </div>
                <div class="col">
                    <h5>@facebookLink</h5>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="row">
                <div class="col">
                    <img src="@photoPath" class="img-thumbnail" alt="Responsive image" asp-append-version="true">
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-center">
                    @if (Model.User.FoodTruck.Reviews.Any() && Model.User.FoodTruck.Reviews.Count > 0)
                    {
                        double sum = 0;
                        double revCount = Model.User.FoodTruck.Reviews.Count;
                        foreach (var review in Model.User.FoodTruck.Reviews)
                        {
                            sum += review.Rating;
                        }
                        double avgRating = sum / revCount;
                        avgRating = Math.Round(avgRating, 1);
                        <h1 class="display-3 d-flex justify-content-center" id="foodTruckRating">@avgRating</h1>
                    }
                    else
                    {
                        <h1 class="display-3 d-flex justify-content-center" id="foodTruckRating">NA</h1>

                    }
                </div>
            </div>
            <div class="row">
                <div id="buttonContainer" class="col d-flex justify-content-center">
                    @if (Model.User.FoodTruck.State == 0)
                    {
                        <button id="alertButton" class="btn btn-success btn-block btn-lg text-white" onclick="OpenCloseFoodTruckAjax('@Model.User.FoodTruck.FoodTruckId');"><h4>Open Truck</h4></button>
                    }
                    else
                    {
                        <button id="alertButton" class="btn btn-warning btn-block btn-lg text-white" onclick="OpenCloseFoodTruckAjax('@Model.User.FoodTruck.FoodTruckId');"><h4>Close Truck</h4></button>
                    }
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-center">

                    <a id="editButton" class="btn btn-primary btn-block" role="button" asp-controller="FoodTrucks" asp-action="Edit" asp-route-id="@Model.User.FoodTruck.FoodTruckId"><h4>Edit</h4></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-danger btn-block btn-lg text-white"><h4>Logout</h4></button>
            </form>
        </div>
    </div>
}

