@model UserProfileViewModel

@{
    var photoPath = "~/images/" + (Model.ProfileImagePath ?? "defaultProfileImage.png");
}

@section Scripts{
    <script>
        $(document).ready(function () {
            $(function () {
                $("#searchBar").autocomplete({
                    source: "/Home/AutoComplete",
                    minLength: 1
                });
            }
            );
        })


    </script>
}

<form method="get" asp-action="Search" asp-controller="Home">
    <div class="input-group">
        <input id="searchBar" type="text" placeholder="Enter a Food Truck Name..." class="form-control" name="searchTerm" />
        <div class="input-group-append">
            <input type="submit" value="Search" class="btn btn-primary">
        </div>
    </div>
</form>

<div class="row mt-5">
    <div class="col">
        <img src="@photoPath" class="img-thumbnail" alt="ProfileImage" asp-append-version="true">
    </div>
    <div class="col">
        <h1>@Model.FirstName @Model.LastName</h1>
        <div class="row">
            <div class="col">
                <h4>@Model.City, @Model.Province</h4>
            </div>
        </div>
    </div>
    <div class="col">
        <h1>Favourite Foods</h1>
        <div class="row">
            <div class="col">
                @if (Model.FoodCat != 0)
                {
                    <h4>@*@Model.FoodCat.GetDisplayName()*@ </h4>
                    <h4>@Model.FoodCat </h4>
                }
                else
                {
                    <h4>This user has not set a favourite food.</h4>
                }
            </div>
        </div>
    </div>
</div>
<div class="row">

</div>
<div class="row mt-5">
    <div class="col"><h1>Favourite Trucks</h1></div>
</div>
<hr />
<div class="card-deck">
    @foreach (var truck in Model.FavouriteTrucks)
    {
        var truckPhotoPath = "~/images/" + (truck.ProfileImage ?? "defaultProfileImage.png");
        <div class="card m-3" style="min-width: 18rem; max-width:30.5%">
            @*        <a asp-page="/FoodTrucks/FoodTruckProfile" asp-route-id="@truck.FoodTruckId">*@

            <a asp-action="Profile" asp-controller="FoodTrucks" asp-route-id="@truck.FoodTruckId">
                <img class="w-100 img-thumbnail imageThumbnail" src="@truckPhotoPath" alt="Card image cap" asp-append-version="true">
            </a>
            <div class="card-body">
                <h3>@truck.Name</h3>
            </div>
        </div>
    }

</div>

<div class="row mt-5">
    <div class="col"><h1>Reviews</h1></div>
</div>
<hr />
<div class="col  p-0">
    <ul id="trucksReviews" class="list-group">
        @foreach (var review in Model.Reviews.Reverse())
        {
            @await Component.InvokeAsync("ReviewItem", new { id = review.FoodTruckId, title = review.Title, body = review.Body, rating = review.Rating, type = 2 })
        }
    </ul>
</div>