@model EventDetailsViewModel;

@{
    ViewData["Title"] = "Details";
    var photoPath = "~/images/" + (Model.EventDetails.ImagePath ?? "defaultProfileImage.png");
}

@section Scripts{
    <script>
        $(document).ready(function () {
            $(function () {
                $("#searchBar").autocomplete({
                    source: "/Home/AutoComplete",
                    minLength: 1
                });
            }
            );
        })


    </script>
}

<form method="get" asp-action="Search" asp-controller="Home">
    <div class="input-group">
        <input id="searchBar" type="text" placeholder="Enter a Food Truck Name..." class="form-control" name="searchTerm" />
        <div class="input-group-append">
            <input type="submit" value="Search" class="btn btn-primary">
        </div>
    </div>
</form>

<div class="row mt-5">
    <div class="col">
        <div class="display-1 d-flex justify-content-center">@Model.EventDetails.Name</div>
    </div>
</div>
<img class="card-img-top" src="@photoPath" alt="Card image cap" asp-append-version="true">
<div class="row mt-4">
    <div class="col">
        <h3>@Model.EventDetails.Description</h>
    </div>
</div>

<div class="row mt-4">
    <div class="col">
        <h4>Where:</h4>
        <h2>@Model.EventDetails.Location</h2>
    </div>
</div>

<div class="row mt-4">
    <div class="col">
        <h4>When:</h4>

        @if (Model.EventDetails.StartDate == Model.EventDetails.EndDate)
        {
            <h2>@Model.EventDetails.StartDate.ToString("MMMM dd, yyyy")</h2>
        }
        else
        {
            <h2>@Model.EventDetails.StartDate.ToString("M") - @Model.EventDetails.EndDate.ToString("d, yyyy")</h2>
        }

    </div>
</div>

@if (Model.EventFoodTrucks.Count == 0)
{
    <div class="row mt-5">
        <div class="col">
            <h1>There are currently no Food Trucks attached to this event</h1>
        </div>
    </div>


}
else
{
    <div class="row mt-5">
        <div class="col">
            <h1 class="d-flex justify-content-center">Event Food Trucks</h1>
        </div>
    </div>

    <div class="card-deck">
        @foreach (var truck in Model.EventFoodTrucks)
        {
            var truckImagePath = "~/images/" + (truck.ProfileImage ?? "defaultProfileImage.png");
            <div class="card m-3" style="min-width: 18rem; max-width:30.5%">
                @*        <a asp-page="/FoodTrucks/FoodTruckProfile" asp-route-id="@truck.FoodTruckId">*@

                <a asp-action="Profile" asp-controller="FoodTrucks" asp-route-id="@truck.FoodTruckId">
                    <img class="w-100 img-thumbnail imageThumbnail" src="@truckImagePath" alt="@truck.Name" asp-append-version="true">
                </a>
                <div class="card-body">

                    <div class="row ">
                        <div class="col d-flex justify-content-start">
                            <h3>@truck.Name</h3>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}



<div>
    @*<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |*@
    <a asp-action="Index">All Events</a>
</div>
