@model FoodTruckProfileViewModel
@using HUNGR.WebApp.Components
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    double revCount = 0;
    var photoPath = "~/images/" + (Model.FoodTruckModel.ProfileImage ?? "defaultProfileImage.png");
    var truckLat = Model.FoodTruckModel.Latitude;
    var truckLong = Model.FoodTruckModel.Longitude;
}

@section Scripts{
    <script>
        $(document).ready(function () {
            $(function () {
                $("#searchBar").autocomplete({
                    source: "/Home/AutoComplete",
                    minLength: 1
                });
            }
            );
        })

        var map;
        function GetMap() {
            var truckLat = $("#latValue").val()
            var truckLong = $("#longValue").val()
            console.log("Truck Lat " + truckLat)
            console.log("Truck Long " + truckLong)
            //var loc = new Microsoft.Maps.Location(
            //    truckLat,truckLong
            //);
            map = new Microsoft.Maps.Map('#truckMap');
            placeTruckPin();
            //Add your post map load code here.
        }

        function placeTruckPin() {
            var truckName = $("#truckName").val()
            var truckLat = $("#latValue").val()
            var truckLong = $("#longValue").val()

            var truckLocation = new Microsoft.Maps.Location(
                truckLat.toString(),
                truckLong.toString()
            );

            var truckPushpin = new Microsoft.Maps.Pushpin(truckLocation, {
                title: truckName,
                color: 'red'
            });

            map.entities.push(truckPushpin);
            map.setView({
                center: truckLocation,
            });

        }
    </script>
}

<form method="get" asp-action="Search" asp-controller="Home">
    <div class="input-group">
        <input id="searchBar" type="text" placeholder="Enter a Food Truck Name..." class="form-control" name="searchTerm" />
        <div class="input-group-append">
            <input type="submit" value="Search" class="btn btn-primary">
        </div>
    </div>
</form>

<div class="row mt-5">
    <div class="col-3">
        <img src="@photoPath" class="foodTruckProfile img-fluid" alt="Responsive image" asp-append-version="true">
    </div>


    <div class="col-7 ">
        <h1>@Model.FoodTruckModel.Name</h1>
        <div class="row ">
            <div class="col">
                <h5>@Model.FoodTruckModel.Bio</h5>
            </div>
        </div>
        <div class="row d-inline-flex align-items-end mb-0 pb-0 pt-2">
            @if (Model.FoodTruckModel.FacebookLink != null)
            {
                <div class="col-1 align-self-end">
                    <a href="https://www.facebook.com/@Model.FoodTruckModel.FacebookLink" target="_blank">
                        <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
                    </a>
                </div>
            }
            @if (Model.FoodTruckModel.InstagramLink != null)
            {
                <div class="col-1 align-self-end">
                    <a href="https://www.instagram.com/@Model.FoodTruckModel.InstagramLink" target="_blank">
                        <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                    </a>
                </div>
            }
        </div>
    </div>

    <div class="col-2 ">
        @*@if (Model.FoodTruckModel.Reviews.Any() || Model.FoodTruckModel.Reviews != null || Model.FoodTruckModel.Reviews.Count > 0)*@
        @if (Model.FoodTruckModel.Reviews.Any() && Model.FoodTruckModel.Reviews.Count > 0)
        {
            double sum = 0;
            revCount = Model.FoodTruckModel.Reviews.Count;
            foreach (var review in Model.FoodTruckModel.Reviews)
            {
                sum += review.Rating;
            }
            double avgRating = sum / revCount;
            avgRating = Math.Round(avgRating, 1);
            <h1 class="display-3 d-flex justify-content-center" id="foodTruckRating">@avgRating</h1>
        }
        else
        {
            <h1 class="display-3 d-flex justify-content-center" id="foodTruckRating">NA</h1>

        }
        <div class="row justify-content-center">
            <div class="col">
                @if (User.IsInRole("User"))
                {
                    @if (Model.FoodTruckModel.UserFavouriteTrucks.Any(item => item.Id == User.FindFirst("UserId").Value))
                    {
                        //REMOVE FOOD TRUCK TO FAVOURITE
                        <div class="d-flex justify-content-center">

                            <form asp-action="RemoveTruckFromFavourite" asp-controller="foodtrucks">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <input hidden asp-for="FoodTruckIdFav" value="@Model.FoodTruckModel.FoodTruckId" />
                                <input hidden asp-for="UserIdFav" value="@User.FindFirst("UserId").Value" />

                                <div class="form-group">
                                    <button type="submit" class="btn">
                                        <i class="fa fa-heart fa-2x" style="color:red"></i>
                                    </button>
                                </div>

                            </form>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="d-flex justify-content-center">Unfollow</div>
                            </div>
                        </div>
                    }
                    else
                    {
                        //ADD FOOD TRUCK TO FAVOURITE
                        <div class="d-flex justify-content-center">

                            <form method="post" asp-action="AddTruckToFavourite" asp-controller="foodtrucks">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <input hidden asp-for="FoodTruckIdFav" value="@Model.FoodTruckModel.FoodTruckId" />
                                <input hidden asp-for="UserIdFav" value="@User.FindFirst("UserId").Value" />

                                <div class="form-group">
                                    <button type="submit" class="btn">
                                        <i class="far fa fa-heart-o fa-2x" style="color:red"></i>
                                    </button>
                                </div>

                            </form>

                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="d-flex justify-content-center">Follow</div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>

    </div>
</div>

@if (Model.FoodTruckModel.State == 1)
{
    <form id=”form1″ runat=”server”>
        <div>
            <input id="truckName" hidden asp-for="@Model.FoodTruckModel.Name" value="@Model.FoodTruckModel.Name" />
            <input id="latValue" hidden asp-for="@Model.FoodTruckModel.Latitude" value="@Model.FoodTruckModel.Latitude" />
            <input id="longValue" hidden asp-for="@Model.FoodTruckModel.Longitude" value="@Model.FoodTruckModel.Longitude" />
            @*<asp:HiddenField ID=”latValue” value="@Model.FoodTruckModel.Latitude" />
                <asp:HiddenField ID=”longValue” value="@Model.FoodTruckModel.Longitude" />*@
        </div>
    </form>
    <div class="row">
        <div class="col">
            <div id="truckMap" style="position:relative; width:100%; height:500px;"></div>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col text-center">
            <div class="display-4 bg-danger">@Model.FoodTruckModel.Name is Currently Closed</div>
            <div class="display-5">Please Check Back Later!</div>
        </div>
    </div>
}


@if (User.IsInRole("User"))
{
    <div class="row mt-5">
        <div class="col">
            <h1>Leave A Review</h1>
            <hr />
        </div>
    </div>

    <div class="row ">
        <div class="col">
            <form class="border border-dark" asp-action="createReview" asp-controller="foodtrucks">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input id="foodTruckIdField" hidden asp-for="FoodTruckReview.FoodTruckId" value="@Model.FoodTruckModel.FoodTruckId" />
                <input id="userIdField" hidden asp-for="FoodTruckReview.UserId" value="@User.FindFirst("UserId").Value" />

                <div class="form-group">
                    <input id="reviewTitle" onkeyup="checkReview();" asp-for="FoodTruckReview.Title" placeholder="Review Title..." class="form-control border border-dark" />
                    <span asp-validation-for="FoodTruckReview.Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <textarea id="reviewBody" onkeyup="checkReview();" asp-for="FoodTruckReview.Body" rows="5" style="width:100%;"
                              placeholder=" Write a Review and give us a Rating!"></textarea>
                    <span asp-validation-for="FoodTruckReview.Body" class="text-danger"></span>
                </div>
                <div class="row mb-3">
                    <div class="col d-inline-flex">
                        <div class="form-group mb-0">
                            <div class="container">
                                <div class="starrating risingstar d-flex  flex-row-reverse">

                                    <input class="mb-0" type="radio" id="star5" class="ratingStars" name="rating" value="5"
                                           onclick=getRating(this.value) /><label class="mb-0" for="star5" title="5 star"></label>
                                    <input class="mb-0" type="radio" id="star4" class="ratingStars" name="rating" value="4"
                                           onclick=getRating(this.value) /><label class="mb-0" for="star4" title="4 star"></label>
                                    <input class="mb-0" type="radio" id="star3" class="ratingStars" name="rating" value="3"
                                           onclick=getRating(this.value) /><label class="mb-0" for="star3" title="3 star"></label>
                                    <input class="mb-0" type="radio" id="star2" class="ratingStars" name="rating" value="2"
                                           onclick=getRating(this.value) /><label class="mb-0" for="star2" title="2 star"></label>
                                    <input class="mb-0" type="radio" id="star1" class="ratingStars" name="rating" value="1"
                                           onclick=getRating(this.value) /><label class="mb-0" for="star1" title="1 star"></label>
                                </div>
                            </div>
                            <input hidden id="reviewRating" asp-for="FoodTruckReview.Rating" class="form-control" value="0" />
                            <span asp-validation-for="FoodTruckReview.Rating" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-auto d-inline-flex mr-5">
                        <button id="submitReviewButton" type="submit" class="btn btn-secondary" disabled style="width:115px;">Submit</button>
                    </div>
                    @*<div class="form-group d-flex justify-content-end">
                            <button id="submitReviewButton" type="submit" class="btn btn-secondary" disabled>Submit</button>
                        </div>*@
                </div>
            </form>
        </div>
    </div>

}
else if (User.IsInRole("FoodTruck"))
{
    //Dont Allow Comments
}
else
{
    <div class="row">
        <div class="col">
            <h2>Sign Up <a class="h2" asp-area="Identity" asp-page="/Account/Register">Here</a> To Leave a Review!</h2>
            <hr />
        </div>
    </div>
}


<div class="col-lg-12 ">

    <div class="row mt-5">
        <div class="col-lg-12 text-center">
            <h1>Reviews</h1>
            <hr />
        </div>
        <div class="col p-0">
            <ul id="trucksReviews" class="list-group">
                @foreach (var review in Model.FoodTruckModel.Reviews.Reverse())
                {
                    @await Component.InvokeAsync("ReviewItem", new { id = review.UserId, title = review.Title, body = review.Body, rating = review.Rating, type = 1 })

                }
            </ul>
        </div>
    </div>
</div>

