@model FoodTruckProfileViewModel
@using HUNGR.WebApp.Components
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    double revCount = 0;
    var photoPath = "~/images/" + (Model.FoodTruckModel.ProfileImage ?? "defaultProfileImage.png");
}

@if (SignInManager.IsSignedIn(User))
{
    string userId = User.FindFirst("UserId").Value;
    <h1>User Signed In @User.FindFirst("UserFirstName").Value</h1>

    @if (Model.FoodTruckModel.UserFavouriteTrucks.Any())
    {
        <h1>Theres a list of favourite trucks</h1>
        @if (Model.FoodTruckModel.UserFavouriteTrucks.Any(item => item.Id == User.FindFirst("UserId").Value))
        {
            <h2>The User is in this list</h2>
        }

    }
    else
    {
        <h1>Theres no list of favourite Trucks</h1>
    }

}
<h2>Size of List : @Model.FoodTruckModel.UserFavouriteTrucks.Count</h2>





<div class="row">
    <div class="col-3 border border-danger">
        <img src="@photoPath" class="imageThumbnail" alt="Responsive image" asp-append-version="true">
    </div>


    <div class="col-7 border border-danger">
        <h1>@Model.FoodTruckModel.Name</h1>

        <div class="row border border-success">
            <div class="col">
                <h4>@Model.FoodTruckModel.Bio</h4>
            </div>
        </div>
        <div class="row align-items-end border border-success mb-0 pb-0 pt-2">
            <div class="col-1 align-self-end border border-primary">
                <a href="https://www.facebook.com/@Model.FoodTruckModel.FacebookLink" target="_blank">
                    <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
                </a>
            </div>
            <div class="col-1 align-self-end border border-primary">
                <a href="https://www.instagram.com/@Model.FoodTruckModel.InstagramLink" target="_blank">
                    <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                    </a>
            </div>
        </div>
    </div>

    <div class="col-2 border border-danger">
        @*@if (Model.FoodTruckModel.Reviews.Any() || Model.FoodTruckModel.Reviews != null || Model.FoodTruckModel.Reviews.Count > 0)*@
        @if (Model.FoodTruckModel.Reviews.Any() && Model.FoodTruckModel.Reviews.Count > 0)
        {
            double sum = 0;
            revCount = Model.FoodTruckModel.Reviews.Count;
            foreach (var review in Model.FoodTruckModel.Reviews)
            {
                sum += review.Rating;
            }
            double avgRating = sum / revCount;
            <h1 class="display-3 d-flex justify-content-center" id="foodTruckRating">@avgRating</h1>
        }
        else
        {
            <h1 class="display-3 d-flex justify-content-center" id="foodTruckRating">NA</h1>

        }
    <div class="row justify-content-center border">
        <div class="col">
            @if (SignInManager.IsSignedIn(User))
            {
                @if (Model.FoodTruckModel.UserFavouriteTrucks.Any(item => item.Id == User.FindFirst("UserId").Value))
                {
                    //REMOVE FOOD TRUCK TO FAVOURITE
                    <div class="d-flex justify-content-center">

                        <form asp-action="RemoveTruckFromFavourite" asp-controller="foodtrucks">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <input hidden asp-for="FoodTruckIdFav" value="@Model.FoodTruckModel.FoodTruckId" />
                            <input hidden asp-for="UserIdFav" value="@User.FindFirst("UserId").Value" />

                            <div class="form-group">
                                <button type="submit" class="btn">
                                    <i class="fa fa-heart fa-2x" style="color:red"></i>
                                </button>
                            </div>

                        </form>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="d-flex justify-content-center">Unfollow</div>
                        </div>
                    </div>
                }
                else
                {
                    //ADD FOOD TRUCK TO FAVOURITE
                    <div class="d-flex justify-content-center">

                        <form method="post" asp-action="AddTruckToFavourite" asp-controller="foodtrucks">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <input hidden asp-for="FoodTruckIdFav" value="@Model.FoodTruckModel.FoodTruckId" />
                            <input hidden asp-for="UserIdFav" value="@User.FindFirst("UserId").Value" />
                            
                            <div class="form-group">
                                <button type="submit" class="btn">
                                    <i class="far fa fa-heart-o fa-2x" style="color:red"></i>
                                </button>
                            </div>

                        </form>

                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="d-flex justify-content-center">Follow</div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>

    </div>
</div>
<div class="row">
    <div class="col">
        <h1 class="display-1">MAP</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <h1>Leave A Review</h1>
        <hr />
    </div>
</div>

<div class="row border">
    <div class="col-md-4">
        <form asp-action="createReview" asp-controller="foodtrucks">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
            <label asp-for="Id" class="control-label"></label>
            <select asp-for="Id" class ="form-control" asp-items="ViewBag.Id"></select>
        </div>*@
            <input hidden asp-for="FoodTruckReview.FoodTruckId" value="@Model.FoodTruckModel.FoodTruckId" />
            <input hidden asp-for="FoodTruckReview.UserId" value="@User.FindFirst("UserId").Value" />

            <div class="form-group">
                <label asp-for="FoodTruckReview.Title" class="control-label"></label>
                <input asp-for="FoodTruckReview.Title" class="form-control" />
                <span asp-validation-for="FoodTruckReview.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FoodTruckReview.Body" class="control-label"></label>
                <input asp-for="FoodTruckReview.Body" class="form-control" />
                <span asp-validation-for="FoodTruckReview.Body" class="text-danger"></span>
            </div>
            <hr />
            <div class="rating">
                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
            </div>
            <div class="form-group">
                <label asp-for="FoodTruckReview.Rating" class="control-label"></label>
                <input asp-for="FoodTruckReview.Rating" class="form-control" />
                <span asp-validation-for="FoodTruckReview.Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>

@*<component type="typeof(ReviewList)" render-mode="ServerPrerendered"  />*@
@*<component type="typeof(ReviewList)" render-mode="ServerPrerendered" param-TruckReviews="Model.Reviews" />*@

@*<div class="row">
        <div class="col">
            @await Component.InvokeAsync("CreateReview", new { foodTruckId = Model.FoodTruckId, userId = "8e378249-d83b-468b-b0ca-397174f18d1c" } );
        </div>
    </div>*@

<div class="col-lg-12 ">
    <div class="row ">
        <div class="col-lg-12 text-center">
            <h1>Reviews</h1>
        </div>
        <div class="col-lg-12 overflow-auto ">
            <ul id="trucksReviews" class="list-group">
                @foreach (var review in Model.FoodTruckModel.Reviews)
                {
                    var reviewPhotoPath = "~/images/" + (Model.FoodTruckModel.ProfileImage ?? "defaultProfileImage.png");
                    <li class="border my-1" style="list-style-type:none;">

                        <div class="row">
                            <div class="col-1">
                                <a asp-action="UserProfile" asp-controller="User" asp-route-UserId="@review.UserId">
                                    <img src="@reviewPhotoPath" class="img-thumbnail" alt="ProfileImage" asp-append-version="true">
                                </a>
                            </div>
                            <div class="col-11 align-self-center">
                                <h3>@review.Title</h3>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col offset-1">
                                <p>@review.Body</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col offset-1">
                                <p>Rating: @review.Rating</p>
                            </div>
                        </div>

                    </li>
                }
            </ul>
        </div>
    </div>
</div>



<!--<div class="row my-2 ">

    <!--  Area to scroll through top 10  -->
<!--<div class="col-lg-6 mx-4 border">

    <div class="row">
        <div class="col-lg-2">
            <img src="~/images/defaultProfileImage.png" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-lg-8 ">
            <div class="d-flex justify-content-between">




            <!-- <i class="fa fa-heart align-items" style="font-size:36px;" onclick="setFavourite()";></i> -->
<!--</div>
<div class="col-lg-12">
    <form>
        <div class="form-group">
            <label for="reviewText">Leave A Review</label>
            <textarea class="form-control" id="reviewText" rows="3"></textarea>
            <div class="container">-->
<!--</div>-->
<!-- <div id="starRow" class="row">
    <div class="col">

    </div>
</div> -->
<!-- <input class="btn btn-primary btn-lg" type="button" value="Submit" onclick="submitReview()"; > -->
<!--</div>
            </form>
        </div>

        <div class="col-lg-12 border bg-light">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Reviews</h2>
                </div>
                <div class="col-lg-12 overflow-auto ">
                    <ul id="trucksReviews" class="list-group">

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>-->
<!--  Map Area  -->
<!--@*<div class="col-lg-4 offset-lg-1 border">
        <div class="row ">
            <div class="col-lg-12 text-center">
                <h2>MAP</h2>
            </div>
            <div class="col-lg-12">
                <div id="myMap" style="position:relative; width:100%; height:500px;"></div>
            </div>

        </div>
    </div>*@
</div>-->
