@using HUNGR.WebApp.ViewModels
@model IEnumerable<CurrentEventViewModel>

<div class="card-columns">
    @{
        foreach (var ev in Model)
        {
            var photoPath = "~/images/" + (ev.ImagePath ?? "defaultProfileImage.png");

            @*<a class="btn btn-primary" asp-action="EditEvent" asp-route-id="@ev.EventId">Edit @ev.Name</a>*@
    <div class="card text-center">
        <img class="card-img-top" src="@photoPath" alt="Card image cap" asp-append-version="true">
        <div class="card-img-overlay">
            <h2 class="card-text text-white bg-dark">@ev.Name</h2>
            <h4 class="card-text text-white bg-dark">@ev.StartDate.ToString("M") - @ev.EndDate.ToString("d, yyyy")</h4>
            <a class="btn btn-primary" asp-controller="Administration" asp-action="EditEvent" asp-route-id="@ev.EventId">Edit</a>
            <a class="btn btn-danger">Delete</a>
        </div>
        
        @*<div class="card-footer">
            <a class="btn btn-primary" asp-action="EditEvent" asp-route-id="@ev.EventId" >Edit</a>
            <a class="btn btn-danger">Delete</a>
        </div>*@
    </div>

        }
    }
</div>
