@model HUNGR.WebApp.Models.Review
@*@inject HUNGR.WebApp.ViewComponents.CreateReviewViewComponent*@

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Review">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                    <label asp-for="Id" class="control-label"></label>
                    <select asp-for="Id" class ="form-control" asp-items="ViewBag.Id"></select>
                </div>*@
            <input hidden asp-for="@Model.FoodTruckId" value=@ViewData["FoodTruckId"] />
            <input hidden asp-for="@Model.UserId" value=@ViewData["UserId"] />

            <div class="form-group">
                <label asp-for="@Model.Title" class="control-label"></label>
                <input asp-for="@Model.Title" class="form-control" />
                <span asp-validation-for="@Model.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Body" class="control-label"></label>
                <input asp-for="@Model.Body" class="form-control" />
                <span asp-validation-for="@Model.Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Rating" class="control-label"></label>
                <input asp-for="@Model.Rating" class="form-control" />
                <span asp-validation-for="@Model.Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>












<!--<form
      asp-action="Create" method="post">-->
@*<hr />*@
<!--<div asp-validation-summary="All" class="text-danger"></div>
    <input hidden asp-for="FoodTruckId" value=@ViewData["FoodTruckId"] />
    <input hidden asp-for="UserId" value=@ViewData["UserId"] />
    <p>TruckId : @ViewData["FoodTruckId"]</p>
    <p>UserId : @ViewData["UserId"]</p>
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Body"></label>
        <input type="text" asp-for="Body" class="form-control" />
        <span asp-validation-for="Body" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Rating"></label>
        <input asp-for="Rating" class="form-control" />
        <span asp-validation-for="Body" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>

</form>-->
