@model ReviewItemViewModel;
@{
    var reviewPhotoPath = "~/images/" + (Model.ProfileImage ?? "defaultProfileImage.png");

}
<li class="border my-1" style="list-style-type:none;">


    <div class="d-flex flex-row align-items-center pb-0 mb-0">
        <!--<div class="col-1 align-self-center">-->
        <div class="col-1">
            @if (Model.Type == 1)
            {
                <a asp-action="UserProfile" asp-controller="User" asp-route-UserId="@Model.Id">
                    <img src="@reviewPhotoPath" class="img-thumbnail" alt="ProfileImage" asp-append-version="true">
                </a>
            }
            else
            {
                <a asp-action="Profile" asp-controller="FoodTrucks" asp-route-id="@Model.Id">
                    <img src="@reviewPhotoPath" class="img-thumbnail" alt="ProfileImage" asp-append-version="true">
                </a>
            }

        </div>

        <div class="align-self-center pl-2">
            <h3>@Model.ReviewTitle</h3>
        </div>
        <div class=" align-self-center pl-2">
            @for (int i = 1; i < 6; i++)
            {
                if (i <= Model.ReviewRating)
                {
                    <i class="fa fa-star fa-2x" aria-hidden="true" style="color: #ffca08;"></i>

                }
                else
                {
                    <i class="fa fa-star fa-2x" aria-hidden="true"></i>
                }
            }
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col offset-1 text-wrap">
            <p>@Model.ReviewBody</p>
        </div>
    </div>
</li>